---
# Common packages to install
common_packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg
  - lsb-release
  - python3-pip
  - python3-psycopg2
  - acl
  - net-tools
  - vim
  - htop
