---
- name: Restart HAProxy
  ansible.builtin.systemd:
    name: haproxy
    state: restarted
  become: true

- name: Reload HAProxy
  ansible.builtin.systemd:
    name: haproxy
    state: reloaded
  become: true
